
header {
    background: url("../img/navbarbilleder/Quiz.png");
    background-repeat: no-repeat; 
    background-size: 100%;
    height: 25rem;
    width: auto;
    display: flex;
    flex-direction: row;
}

#sp1 {
    display: flex;
    flex-direction: row;

    margin-left: auto;
    margin-right: auto;
}

.spør {
    display: flex;
    flex-direction: column;
    padding: 5%;
    margin: 5%;
}

.spøl {
    width: 15%;
    height: auto;

    margin: 5%;
}

#sp2,
#sp3 {
    display: none;
}

#svar1,
#svar2,
#svar3,
#svar4 {
    display: none;
}

#svarimg{
    width: 40%;
    height: auto;

}
